<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Book System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Lisi's Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav-container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('MANAGER')">
                    <a class="nav-link" th:href="@{/leaders}">Leadership Meeting</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/books}">Admin Panel</a>
                </li>
            </ul>
            <div class="logout-button-container">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<!-- Main -->
<div class="content-wrap">
    <div class="welcome-section">
        <h2>Welcome to Book System!</h2>

        <div class="user-info">
            <p>We have annual holiday Caribbean cruise coming up.<span> Register now!</span></p>
            <p>
                <span >Keep it secret!</span>
            </p>
        </div>

        <hr>

        <!-- System Link -->
        <a th:href="@{books/list}">Book Manage System</a>
        <hr>
        <!-- Home Page Link -->
        <a th:href="@{/}">Back to Home Page</a>

    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <p>&copy; 2023 Lisi's Library. All rights reserved.</p>
    </div>
</footer>

<!-- Import Bootstrap JS and Dependency -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>